html 
head 
    title BookStore HomePage
body 
    script(src="functions.js")
    h1 Welcome to BookStore
    br
    button(onclick='customerLogIn()') Log in as Customer
    br
    button(onclick='customerReg()') Registar as New Customer
    br
    button(onclick='ownerLogIn()') Log in as Owner
    br
    button(onclick='ownerReg()') Registar as New Owner
    