html 
head 
    title Owner Log In 
body 
    script(src="functions.js")
    p Username: 
    input#username(type="text" value="zhangpeizhou")
    br
    p Password: 
    input#password(type="text" value="haha")
    br
    br
    button(onclick="OLog()") Log In